 <div class="user-details">
  <h2> About Me </h2>
  <p>
  Hi, I’m Amelia, a data enthusiast with a B.S. in Statistics and Data Science from UC Santa Barbara. I currently work at Magic Touch Software International 
   as a Data Analyst, where I create customized data reports using SQL, Excel, Crystal Reports, and Power BI; design user-friendly web interfaces with HTML; 
   and support dental laboratories worldwide with our CRM platform.
</p>
<p>
  Outside of work, I’m actively building my skills in Data Science and Machine Learning through hands-on projects that explore topics like music analytics and 
 natural language processing. When I’m not coding, you’ll likely find me on the golf course, playing instruments, or finding new ways to combine creativity with 
 data. I’m always excited to collaborate, learn, and grow—whether it’s on a new project, a job opportunity, or just a great conversation. Feel free to reach out!
</p>

