<section id="data_dives" class="deep-dives-section" style="
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
">
  <h2>Data Dives</h2>
  <div class="projects-grid">
    <!-- Each Deep Dive -->
    <div class="project-card">
      <div class="project-info">
        <h4 style="margin-bottom: 4px;">Keeping It Professional - Notes from the Analyst in the Room</h4>
        <p style="margin-top: 0;">A take on staying composed when others don’t.
            <a href="{{ '//stay_cool/' | relative_url }}" class="project-link" target="_blank">Read</a>
        </p>
      </div>
    </div>

    <div class="project-card">
      <div class="project-info">
        <h4 style="margin-bottom: 4px;">Breaking Down SQL CTEs</h4>
        <p style="margin-top: 0;">Walking through a CTE problem using SQL.
            <a href="{{ '//sql_cte.html' | relative_url }}" class="project-link" target="_blank">Read</a> </p>
        </p>
          
      </div>
    </div>
  </div>
</section>
